# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
.vscode
/demos/x64/Debug
/source/.vs/olcSoundWaveEngine
/source/x64/Debug/olcSound.4ae3b973.tlog
/source/x64/Debug

# ignore binary of tools
tools/headerify
tools/headerify.exe

# CMake Intermediates
build
CMakeCache.txt
CMakeFiles